[user]
    name = Tristan Euan Chong
    email = tristaneuan@gmail.com
[core]
    autocrlf = input
    safecrlf = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    lg = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
