[user]
  name = Tristan Chong
  email = tristanchong@gmail.com
[core]
  autocrlf = input
  safecrlf = true
  excludesfile = /Users/tristan/.gitignore.global
[push]
  default = current
[github]
  user = tristaneuan
[init]
  templatedir = ~/.git-templates
[credential]
  helper = store
[url "git@github.com:"]
  insteadOf = https://github.com/
