[user]
  name = Tristan Chong
  email = tristanchong@gmail.com
[core]
  autocrlf = input
  safecrlf = true
  excludesfile = /Users/tristan/.gitignore.global
[push]
  default = current
[github]
  user = t33chong
[init]
  templatedir = ~/.git-templates
[credential]
  helper = store
[url "git@github.com:"]
  insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
